body {
  font-family: Karma, sans-serif;
  weight: 400;
  font-size: 15px;
  line-height: 23px;
}

h3 {
  text-align: center;
  width: 92%;
  margin: 10px 0;
}

.center-align {
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 50px 0;
}

.center-chef{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 70%;
}

.sidenav {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 17px 35px;
  height: 67px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #E9E9E9;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
}

.menu {
  position: fixed;
  width: 72%;
  z-index: 1;
  background-color: white;
}


.food-row {
  padding: 4%;
  margin-top: 7%;
}

.food-row-2 {
  padding: 4%;
  margin-top: -5%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.food-column {
  float: left;
  width: 25%;
  padding: 5px;
}

.food-img-size {
  height: 400px;
  width: 98%;
}

.food-img::after {
  content: "";
  clear: both;
  display: table;
}

.img-text {
  width: 85%;
  text-align: center;
  line-height: 25px;
}

/* Clear floats after image containers */


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* @media (min-width: 1200px) {
    .container {
      width: 1000px;
    } */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: black;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: black;
  color: white
}

.chef-img {
  margin-top: 10px;
  width: 800px;
  height: 533px;
}
.para-text{
  margin-top: 55%;
}